body {
  width: 500;
  margin: auto;
  text-align: center;
}

.people {
  display: inline-block;
  background-color: #2642bd;
  width: 20px;
  height: 20px;
}
button {
  margin-bottom: 10px;
}

.highlighted {
  background-color: red;
}
